@model IEnumerable<Rastreador.Template>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            HTML
        </th>
        <th>
            IsDefault
        </th>
        <th>
            Usuario
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@Html.Raw(item.HTML)
        </td>
        <td>
			@item.IsDefault
        </td>
        <td>
			@(item.Usuario == null ? "None" : item.Usuario.Count.ToString())
        </td>
    </tr>
}

</table>


